//- view/header.pug

nav.navbar.navbar-dark.navbar-expand-lg

  //- site logo
  a(href="/").navbar-brand
    img(src="/img/site_logo.png" alt="site logo" width="301" height="93")
    span.visually-hidden= package.config.title

  //- toggle button (visible when less then large screen size
  button.navbar-toggler(
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#main-navigation"
    aria-controls="main-navigation"
    aria-expanded="false"
    aria-label="Toggle main navigation"
  ): span.navbar-toggler-icon

  //- main navigation links
  .collapse.navbar-collapse.justify-content-end#main-navigation
    ul.navbar-nav.mb-2.mb-lg-0
      each item, href in mainNavigation
        li.nav-item: a.nav-link(
          href= href
          alt= item.name
          class={ active: req.path === href }
        )= item.name

//- EOF